<nav class="{% if page.title == "Home" %}nav-home{% else %}nav{% endif %}">
    <ul class="list">
        {% if page.title != "Home" %}
            <li class="item">
                <a class="link" href="{{ site.url }}/">Home</a>
            </li>
        {% endif %}

        {% if site.about == true %}
            {% if page.title != "Bio" %}
                <li class="item">
                    <a class="link" href="{{ site.url }}/about">Bio</a>
                </li>
            {% endif %}
        {% endif %}

        {% if site.contact == true %}
            {% if page.title != "Contact" %}
                <li class="item">
                    <a class="link" href="{{ site.url }}/contact">Contact</a>
                </li>
            {% endif %}
        {% endif %}

        {% if site.resume == true %}
            {% if page.title != "Resume" %}
                <li class="item">
                    <a class="link" href="{{ site.url }}/resume">Resume</a>
                </li>
            {% endif %}
        {% endif %}

        {% if site.projects == true %}
            {% if page.title != "Projects" %}
                <li class="item">
                    <a class="link" href="{{ site.url }}/projects">Projects</a>
                </li>
            {% endif %}
        {% endif %}
    </ul>
</nav>
